.player-container {
  margin: 10px 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;

  .player-name {
    background-color: white;
    border-radius: 5px;
    width: 100px;
    margin: 2px;
    text-align: center;
    border: 1px solid black;
    padding: 3px;
  }

  .player-area {
    display: flex;
    justify-content: center;
    position: relative;

    .slide-target {
      position: absolute;
      top: 80px;
      left: 40px;
    }

    .player-supply-wrap {
      max-height: 45px;
      max-width: 65px;
      padding-left: 50px;
    }

    .player-supply {
      transform: scale(0.2);
      transform-origin: 0 0;

      .token {
        font-size: 8em;
        text-align: center;
        padding-top: 30px;
        color: white;
      }
    }

    .player-left, .player-right {
      position: relative;
      min-width: 145px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.player-exhausted {

  .card-wrapper {
    transform: rotate(90deg) translateY(-140px);
    transform-origin: 0 0;
    height: 121px;
  }
}

.player-hand {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.market {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

#your-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#remaining-opponents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}