.card {
    background-repeat: no-repeat;
    display: block;
    transform: scale(.25);
    transform-origin: 0 0;
}

.card_bank {
    width: 675px;
    height: 1030px;
    background: url(img/banks.jpg) -0 -0;
}

.card_bank_duel {
    width: 675px;
    height: 1030px;
    background: url(img/banks.jpg) -675px -0;
}

.card_bard {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -1446px -2157px;
}

.card_beekeeper {
    width: 226px;
    height: 346px;
    background-position: -691px 0;
}

.card_berserker {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -1928px -1438px;
}

.card_blacksmith {
    width: 226px;
    height: 346px;
    background-position: -1148px 0;
}

.card_brawler {
    width: 226px;
    height: 346px;
    background-position: -1374px 0;
}

.card_brewer {
    width: 226px;
    height: 346px;
    background-position: -1600px 0;
}

.card_burglar {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) 0 -2157px;
}

.card_cannoneer {
    width: 226px;
    height: 346px;
    background-position: -1826px 0;
}

.card_caravaner {
    width: 226px;
    height: 346px;
    background-position: -691px -346px;
}

.card_cathedral {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -2892px -719px;
}

.card_cutpurse {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -482px -2157px;
}

.card_dam {
    width: 226px;
    height: 346px;
    background-position: 0 -697px;
}

.card_diver {
    width: 226px;
    height: 346px;
    background-position: -226px -697px;
}

.card_doctor {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -1928px -2157px;
}

.card_dungeon {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -1446px -1438px;
}

.card_farmer {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -964px -0;
}

.card_fisher {
    width: 226px;
    height: 346px;
    background-position: -1144px -697px;
}

.card_florist {
    width: 231px;
    height: 351px;
    background-position: -1370px -697px;
}

.card_glassblower {
    width: 226px;
    height: 346px;
    background-position: -1601px -697px;
}

.card_hermit {
    width: 226px;
    height: 346px;
    background-position: -1827px -697px;
}

.card_hideout {
    width: 226px;
    height: 346px;
    background-position: 0 -1043px;
}

.card_innkeeper {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -964px -719px;
}

.card_kenel {
    width: 226px;
    height: 346px;
    background-position: -226px -1043px;
}

.card_labyrinth {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -2410px -719px;
}

.card_lighthouse {
    width: 226px;
    height: 346px;
    background-position: -1144px -1043px;
}

.card_mason {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) 0 -719px;
}

.card_matador {
    width: 226px;
    height: 346px;
    background-position: -462px -1394px;
}

.card_merchant {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -482px -0;
}

.card_miner {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -1928px -719px;
}

.card_moat {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -482px -1438px;
}

.card_navigator {
    width: 226px;
    height: 346px;
    background-position: -1381px -1394px;
}

.card_outlaw {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -2410px -1438px;
}

.card_pickler {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -1446px -719px;
}

.card_pied_piper {
    width: 226px;
    height: 346px;
    background-position: 0 -351px;
}

.card_pirate_queen {
    width: 226px;
    height: 346px;
    background-position: -226px -351px;
}

.card_poacher {
    width: 226px;
    height: 346px;
    background-position: -452px -351px;
}

.card_powderkeg {
    width: 226px;
    height: 346px;
    background-position: -917px -351px;
}

.card_privateer {
    width: 226px;
    height: 346px;
    background-position: -1841px -351px;
}

.card_raider {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) 0 0;
}

.card_rat_catcher {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -482px -719px;
}

.card_ravenmaster {
    width: 226px;
    height: 346px;
    background-position: -1838px -1400px;
}

.card_reef {
    width: 226px;
    height: 346px;
    background-position: 0 -1746px;
}

.card_rustler {
    width: 226px;
    height: 346px;
    background-position: -226px -1746px;
}

.card_swamp {
    width: 226px;
    height: 346px;
    background-position: -452px -1746px;
}

.card_toll_bridge {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) 0 -1438px;
}

.card_trapper {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -964px -2157px;
}

.card_treasury {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -964px -1438px;
}

.card_veteran {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -2892px -1438px;
}

.card_viking {
    width: 226px;
    height: 346px;
    background-position: -1602px -1746px;
}

.card_wall {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -1446px -0;
}

.card_wild_goose {
    width: 226px;
    height: 346px;
    background-position: -2058px -1746px;
}

.card_back {
    width: 482px;
    height: 719px;
    background: url(img/vp_cards.jpg) -2892px -2157px;
}
