.turnip-wrapper {
  max-height: 45px;
  max-width: 65px;

    .token {
        transform: scale(0.2);
        transform-origin: 0 0;
        font-size: 8em;
        text-align: center;
        padding-top: 30px;
        color: white;
    }
}

.token {
    background-image: url(img/tokens.png);
    background-repeat: no-repeat;
    display: block;
}

.token-crown {
    width: 197px;
    height: 197px;
    background-position: 0 0;
}

.token-scepter {
    width: 197px;
    height: 197px;
    background-position: -197px 0;
}

.token-throne {
    width: 197px;
    height: 197px;
    background-position: 0 -197px;
}

.token-turnip {
    width: 175px;
    height: 211px;
    background-position: -394px 0;
}

.bank-turnip-1 {
    position: absolute;
    left: 455px;
    top: 205px;
}

.bank-turnip-2 {
    position: absolute;
    left: 287px;
    top: 310px;
}

.bank-turnip-3 {
    position: absolute;
    left: 460px;
    top: 420px;
}

.bank-turnip-4 {
    position: absolute;
    left: 287px;
    top: 525px;
}

.bank-turnip-5 {
    position: absolute;
    left: 460px;
    top: 635px;
}

.scepter-target {
    position: absolute;
    left: 30px;
    top: 120px;
}

.crown-target {
    position: absolute;
    left: 30px;
    top: 380px;
}

.throne-target {
    position: absolute;
    left: 30px;
    top: 630px;
}