@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * villagepillage implementation : © Joseph Utecht <joseph@utecht.co>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * villagepillage.scss
 *
 * villagepillage stylesheet
 *
 */
.player-container {
  margin: 10px 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .player-container .player-name {
    background-color: white;
    border-radius: 5px;
    width: 100px;
    margin: 2px;
    text-align: center;
    border: 1px solid black;
    padding: 3px; }
  .player-container .player-area {
    display: flex;
    justify-content: center; }
    .player-container .player-area .player-bank {
      display: flex;
      flex-direction: column; }
    .player-container .player-area .player-left {
      width: 121px; }
    .player-container .player-area .player-right {
      width: 121px; }

.player-exhausted .card-wrapper {
  transform: rotate(90deg) translateY(-140px);
  transform-origin: 0 0;
  height: 121px; }

.player-hand {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.market {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

#your-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#remaining-opponents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.foo-card {
  width: 100px;
  height: 180px;
  border-radius: 10px;
  border: 1px solid black; }
  .foo-card[data-color='0'] {
    background-color: blue; }
  .foo-card[data-color='1'] {
    background-color: green; }
  .foo-card[data-color='2'] {
    background-color: pink; }
  .foo-card[data-color='3'] {
    background-color: yellow; }
  .foo-card[data-color='4'] {
    background-color: gray; }
  .foo-card::before {
    content: attr(data-value);
    display: inline-block;
    background: black;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px; }

.selected-card {
  border: 2px solid blue; }

.placeholder {
  width: 121px;
  height: 180px;
  background-color: black; }

.card-wrapper {
  max-width: 121px;
  max-height: 180px; }

.bank-wrap {
  max-width: 135px;
  max-height: 206px; }

.bank {
  background-repeat: no-repeat;
  display: block;
  transform: scale(0.2);
  transform-origin: 0 0; }

.bank_card {
  width: 675px;
  height: 1030px;
  background: url(img/banks.jpg) -675px 0; }

.card_bank_duel {
  width: 675px;
  height: 1030px;
  background: url(img/banks.jpg) 0 0; }

.flip-container {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; }
  .flip-container .flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: rotateY(0deg); }
    .flip-container .flip-inner .flip-front,
    .flip-container .flip-inner .flip-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform: rotateY(0deg); }
    .flip-container .flip-inner .flip-back {
      transform: rotateY(180deg); }
  .flip-container.flipped .flip-inner {
    transform: rotateY(180deg); }

.card {
  background-repeat: no-repeat;
  display: block;
  transform: scale(0.25);
  transform-origin: 0 0; }

.card_bard {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -1446px -2157px; }

.card_beekeeper {
  width: 226px;
  height: 346px;
  background-position: -691px 0; }

.card_berserker {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -1928px -1438px; }

.card_blacksmith {
  width: 226px;
  height: 346px;
  background-position: -1148px 0; }

.card_brawler {
  width: 226px;
  height: 346px;
  background-position: -1374px 0; }

.card_brewer {
  width: 226px;
  height: 346px;
  background-position: -1600px 0; }

.card_burglar {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) 0 -2157px; }

.card_cannoneer {
  width: 226px;
  height: 346px;
  background-position: -1826px 0; }

.card_caravaner {
  width: 226px;
  height: 346px;
  background-position: -691px -346px; }

.card_cathedral {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -2892px -719px; }

.card_cutpurse {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -482px -2157px; }

.card_dam {
  width: 226px;
  height: 346px;
  background-position: 0 -697px; }

.card_diver {
  width: 226px;
  height: 346px;
  background-position: -226px -697px; }

.card_doctor {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -1928px -2157px; }

.card_dungeon {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -1446px -1438px; }

.card_farmer {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -964px 0; }

.card_fisher {
  width: 226px;
  height: 346px;
  background-position: -1144px -697px; }

.card_florist {
  width: 231px;
  height: 351px;
  background-position: -1370px -697px; }

.card_glassblower {
  width: 226px;
  height: 346px;
  background-position: -1601px -697px; }

.card_hermit {
  width: 226px;
  height: 346px;
  background-position: -1827px -697px; }

.card_hideout {
  width: 226px;
  height: 346px;
  background-position: 0 -1043px; }

.card_innkeeper {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -964px -719px; }

.card_kenel {
  width: 226px;
  height: 346px;
  background-position: -226px -1043px; }

.card_labyrinth {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -2410px -719px; }

.card_lighthouse {
  width: 226px;
  height: 346px;
  background-position: -1144px -1043px; }

.card_mason {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) 0 -719px; }

.card_matador {
  width: 226px;
  height: 346px;
  background-position: -462px -1394px; }

.card_merchant {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -482px 0; }

.card_miner {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -1928px -719px; }

.card_moat {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -482px -1438px; }

.card_navigator {
  width: 226px;
  height: 346px;
  background-position: -1381px -1394px; }

.card_outlaw {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -2410px -1438px; }

.card_pickler {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -1446px -719px; }

.card_pied_piper {
  width: 226px;
  height: 346px;
  background-position: 0 -351px; }

.card_pirate_queen {
  width: 226px;
  height: 346px;
  background-position: -226px -351px; }

.card_poacher {
  width: 226px;
  height: 346px;
  background-position: -452px -351px; }

.card_powderkeg {
  width: 226px;
  height: 346px;
  background-position: -917px -351px; }

.card_privateer {
  width: 226px;
  height: 346px;
  background-position: -1841px -351px; }

.card_raider {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) 0 0; }

.card_rat_catcher {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -482px -719px; }

.card_ravenmaster {
  width: 226px;
  height: 346px;
  background-position: -1838px -1400px; }

.card_reef {
  width: 226px;
  height: 346px;
  background-position: 0 -1746px; }

.card_rustler {
  width: 226px;
  height: 346px;
  background-position: -226px -1746px; }

.card_swamp {
  width: 226px;
  height: 346px;
  background-position: -452px -1746px; }

.card_toll_bridge {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) 0 -1438px; }

.card_trapper {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -964px -2157px; }

.card_treasury {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -964px -1438px; }

.card_veteran {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -2892px -1438px; }

.card_viking {
  width: 226px;
  height: 346px;
  background-position: -1602px -1746px; }

.card_wall {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -1446px 0; }

.card_wild_goose {
  width: 226px;
  height: 346px;
  background-position: -2058px -1746px; }

.card_back {
  width: 482px;
  height: 719px;
  background: url(img/vp_cards.jpg) -2892px -2157px; }

.token {
  background-image: url(img/tokens.png);
  background-repeat: no-repeat;
  display: block; }

.token-crown {
  width: 197px;
  height: 197px;
  background-position: 0 0; }

.token-scepter {
  width: 197px;
  height: 197px;
  background-position: -197px 0; }

.token-throne {
  width: 197px;
  height: 197px;
  background-position: 0 -197px; }

.token-turnip {
  width: 175px;
  height: 211px;
  background-position: -394px 0; }

.bank-turnip-1 {
  position: absolute;
  left: 455px;
  top: 205px; }

.bank-turnip-2 {
  position: absolute;
  left: 287px;
  top: 310px; }

.bank-turnip-3 {
  position: absolute;
  left: 460px;
  top: 420px; }

.bank-turnip-4 {
  position: absolute;
  left: 287px;
  top: 525px; }

.bank-turnip-5 {
  position: absolute;
  left: 460px;
  top: 635px; }

/*# sourceMappingURL=villagepillage.css.map */
